:root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --primary-color: #e0e5ec;
    --b-s-top-color: #ffffff;
    --b-s-bottom-color: #a1afc3;
    --primary-text-color: #2a2a2b;
    --hover-text-color: #252525;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--primary-text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
section {
    background-color: var(--primary-color);
}

section {
    padding: 3em;
    box-shadow: -2px -2px 10px var(--b-s-top-color), 2px 2px 3px var(--b-s-bottom-color);
    border-radius: 3.125em;
}
input[type="checkbox"]:checked + label.todo-title {
    text-decoration: line-through;
}
